<div>
    <h1>scope配置</h1>
    <jia></jia>
    <h1>@的绑定</h1>
    <nuli flag="define"></nuli>
    <h1>==的绑定</h1>
    <input type="text" ng-model="mimi">
    <br>
    <br>
    <br>
    <br>
    <try flag2="mimi"></try>
    <h1>绑定函数</h1>
    <ale gre="alert(name3)"></ale>
    <ale gre="alert(name3)"></ale>
    <ale gre="alert(name3)"></ale>
    <ale gre="alert(name3)"></ale>
    <div class="penal">
        <div class="panel-object">
            <form action="" name="Form">
                <input type="text" required>
                <input type="password" required>
                <input type="submit" ng-disabled="Form.$invalid">
            </form>
        </div>
    </div>
</div>
